// Colors
$main-color: #ff6060;
$grey-bg: #f6f6f6;
$white-text: #ffffff;
$bg-gradient: linear-gradient(
  180deg,
  rgba(255, 255, 255, 0) 0%,
  rgba(0, 0, 0, 0.5) 100%
);

// Font
$body-font: "Montserrat", sans-serif;
