@import "../variables/Variables.scss";

.carousel-wrapper {
  position: relative;
  width: 90%;
  margin: auto;

  .carousel {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 25px;
  }

  .next-photo,
  .previous-photo {
    font-size: 4rem;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: white;
    filter: drop-shadow(0 0 0.1rem #b1afaf);
    cursor: pointer;
  }

  .next-photo {
    right: 0;
  }

  .previous-photo {
    left: 0;
  }

  .photo-counter {
    position: absolute;
    right: 50%;
    bottom: 5%;
    transform: translate(-50%);
    color: $white-text;
    font-family: $body-font;
    font-weight: 500;
    font-size: 1.3em;
  }
}
